body {
  font-family: Arial;
  font-style: normal;
  background: linear-gradient(180deg, #ECEEF2 0%, rgba(236, 238, 242, 0) 100%);
}
.white {
  background-color: #fff;
}
/*Шрифты*/
.bold {
  font-weight: bold;
  font-size: 24px;
}
.normal {
  font-weight: normal;
  font-size: 16px;
}
/*Поле с наградой*/
.award {
  margin-top: 3rem;
  font-size: 18px;
}
.award-title {
  font-weight: normal;
}
.award-bold {
  font-weight: bold;
}
/*Главный блок*/
.main {
  /*Кнопки соц сетей*/
}
.main-header {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}
.main-video iframe {
  border-radius: 17px;
}
.main-content {
  padding-top: 2rem ;
}
.main-content h3 {
  font-weight: bold;
  font-size: 24px;
}
.main-content p {
  font-weight: normal;
  font-size: 16px;
}
.main-social_sites .btn {
  margin-top: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5rem;
  color: white;
}
.main-social_sites .btn-fb {
  position: relative;
  background: #1F3B74;
}
.main-social_sites .btn-fb:hover {
  background: #2a4f9c;
}
.main-social_sites .btn-fb:before {
  content: url(../img/socsites-logo/fb.svg);
  position: absolute;
  left: 0%;
  transform: translateY(-25%) translateX(-10%);
}
.main-social_sites .btn-vk {
  position: relative;
  background: #27466A;
}
.main-social_sites .btn-vk:hover {
  background: #355f8f;
}
.main-social_sites .btn-vk:before {
  content: url(../img/socsites-logo/vk.svg);
  position: absolute;
  left: 0%;
  transform: translateY(-25%) translateX(-10%);
}
.main-social_sites .btn-ok {
  position: relative;
  background: #D06313;
}
.main-social_sites .btn-ok:hover {
  background: #ec7c2a;
}
.main-social_sites .btn-ok:before {
  content: url(../img/socsites-logo/ok.svg);
  position: absolute;
  left: 0%;
  transform: translateY(-25%) translateX(-10%);
}
.main span {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
/*Персональное решение*/
.decision {
  margin-top: 4rem;
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}
.decision-title h3 {
  font-weight: bold;
  font-size: 24px;
}
.decision-title p {
  font-weight: normal;
  font-size: 16px;
}
.decision-title a {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.decision-title a:hover {
  text-decoration: none;
  color: #404040;
}
.decision-title a:after {
  content: url(../img/hyper-arrow.png);
  padding-left: 5px;
}
.decision-worker {
  font-weight: normal;
  font-size: 16px;
}
.decision-worker button {
  padding: 13px 35px;
  background: #0D870D;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
/*About page*/
.about {
  margin-top: 3rem;
}
.about-a {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.about-a:hover {
  text-decoration: none;
  color: #404040;
}
.about-a:after {
  content: url(../img/hyper-arrow.png);
  padding-left: 5px;
}
.header {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header h3 {
  font-weight: bold;
  font-size: 24px;
}
.company p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.company-text {
  margin: 1.3rem 0;
}
.indicator-stats {
  margin-top: 1.3rem;
}
.indicator-stats h4 {
  font-weight: bold;
  font-size: 18px;
}
.indicator-stats p {
  font-weight: normal;
  font-size: 16px;
}
/*cost page*/
.cost {
  margin-top: -3rem;
  margin-bottom: 2rem;
}
.cost-page {
  background: rgba(30, 160, 30, 0.1);
  border-radius: 16px;
}
.cost-page-header {
  padding: 1rem 0rem 0.8rem 1rem;
  font-weight: bold;
  font-size: 24px;
}
.cost-page-row {
  margin: -1.2rem 0rem;
}
.cost-page-title {
  margin: 0rem 1rem 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cost-page-title h5 {
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.cost-page-title p {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.cost-page-a {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  text-align: center;
}
.cost-page-a:hover {
  text-decoration: none;
  color: #404040;
}
.cost-page-a:before {
  position: absolute;
  content: url(../img/cost-logo.svg);
  left: 0%;
  transform: translateX(45%) translateY(-25%);
}
/*photos page*/
.photos img {
  margin-right: 0.6rem;
}
/*form*/
.form-block {
  background: #ECEEF2;
  border-radius: 16px;
}
.form input {
  margin-bottom: 8px;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.form textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.form .form-worker {
  margin-bottom: -1rem;
}
.form .form-worker p {
  font-weight: normal;
  font-size: 16px;
  color: black;
}
.form p {
  margin-bottom: -3rem;
  display: block;
  font-weight: normal;
  font-size: 16px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.form-btn {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: 13px;
  width: 100%;
  color: white;
  background: #0D870D;
  border-radius: 6px;
}
.form-captcha {
  margin: 6px 0;
}
.form-solution h4 {
  margin-bottom: 1rem;
  margin-left: 5px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  font-size: 16px;
}
.form-solution ul {
  margin-left: -8px;
  list-style: none;
  padding-left: 0;
  padding-top: 1rem;
}
.form-solution ul li {
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  padding-left: 3.5rem;
}
.form-solution ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-color: black;
}
.form-solution ul li:before {
  background: url(../img/solution.svg) center no-repeat;
}
/*participants block*/
.participants {
  margin-top: 2rem;
  padding-top: 2rem;
  margin-left: -1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.participants-header h2 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 24px;
  font-size: 32px;
}
.participants-block-img {
  display: block;
  margin: 0 auto;
}
.participants-block h3 {
  margin-top: 1.3rem;
  font-weight: bold;
  font-size: 24px;
}
.participants-block p {
  margin-top: -0.5rem;
  font-weight: normal;
  font-size: 16px;
}
.participants-btn {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 24px;
  font-size: 16px;
  padding: 1rem 2rem;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 6px;
}
.participants-btn:hover {
  background: #f7f7f7;
}
@media (max-width: 1199px) {
  .main-header {
    font-size: 40px;
  }
  .decision {
    padding: 3px 12px;
  }
  .decision-worker button {
    padding: 7px;
  }
  .cost-page {
    margin-top: 4rem;
  }
}
@media (max-width: 991px) {
  .main-header {
    font-size: 30px;
  }
  .main-content {
    text-align: center;
  }
  .main-content h3 {
    display: block;
    text-align: center;
  }
  .decision {
    text-align: center;
  }
  .decision-img_2 {
    display: none;
  }
  .decision-worker {
    padding: 1rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .decision-body {
    position: relative;
  }
  .decision-body:before {
    position: absolute;
    content: url(../img/worker.svg);
    left: 15%;
  }
  .indicator {
    display: none;
  }
  .cost-page-title {
    padding: 0 0 1rem;
    margin: 0 1rem 1rem;
  }
  .cost-page-title p {
    margin-bottom: 2rem;
  }
  .cost-page-col {
    padding: 4px;
  }
  .cost-page-a:before {
    left: 0;
    transform: translateX(150%) translateY(-25%);
  }
  .photos img {
    margin: 1rem 1rem 1rem 0;
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 767px) {
  .award-bold {
    font-size: 100%;
  }
  .decision-body {
    position: relative;
  }
  .decision-body:before {
    position: absolute;
    content: url(../img/worker.svg);
    left: 5%;
  }
  .cost-pagea:before {
    transform: translateX(350%) translateY(-25%);
  }
}
@media (max-width: 575px) {
  .award-title,
  .award-bold {
    font-size: 100%;
  }
  .main-content strong {
    display: none;
  }
  .main-social_sites .btn {
    width: 100%;
    background: linear-gradient(180deg, #ECEEF2 0%, rgba(236, 238, 242, 0) 100%);
    padding: 0;
    margin: 0px 2px 1rem 2px;
    font-size: 0%;
  }
  .decision-body {
    position: relative;
  }
  .decision-body:before {
    position: absolute;
    content: url(../img/worker.svg);
    left: -25%;
  }
  .cost-page-a:before {
    transform: translateX(8px) translateY(-25%);
  }
  .form .form-worker p {
    font-size: 14px;
  }
  .form-solution {
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .participants {
    border: none;
    margin-top: 0;
  }
  .participants-header h2 {
    font-size: 24px;
  }
  .participants-btn {
    padding: 2px;
  }
}
/*# sourceMappingURL=style.css.map */